In [1]:
l=[10,20,30,40,50,60,70,80]
print('after appending 200 and 300')
l.extend([200,300])
print(l)
print('after removing 10 and 30')
l.remove(10)
l.remove(30)
print(l)
print('after sorting in ascending order')
l.sort()
print(l)
print('after sorting in descending order')
l.sort(reverse='True')
print(l)

after appending 200 and 300
[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
after removing 10 and 30
[20, 40, 50, 60, 70, 80, 200, 300]
after sorting in ascending order
[20, 40, 50, 60, 70, 80, 200, 300]
after sorting in descending order
[300, 200, 80, 70, 60, 50, 40, 20]

In [31]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
print('Highest score and its index')
highest=max(scores)
x=scores.index(highest)
print(highest,'at index',x)
print('lowest score')
lowest=min(scores)
y=scores.count(lowest)
print(lowest,'appears',y,'times')
l=list(scores)
l.reverse()
print(l)
var=int(input('Enter a number:'))
if var in scores:
    print(var,'is present at index',scores.index(var))
else:
    print(var,'not present')

Highest score and its index
92 at index 5
lowest score
45 appears 2 times
[45, 58, 92, 89, 45.4, 76, 89.5, 45]

Enter a number: 76

76 is present at index 2

In [33]:
import random as r
r_no = r.choices(range(100, 901), k=100)
print(r_no)
even_c = 0
odd_c = 0
prime_c=0
for x in r_no:
    if x % 2 == 0:
        even_c += 1
    else:
        odd_c += 1
print('Total even numbers are', even_c)
print("Even numbers:", [num for num in r_no if num % 2 == 0])
print('Total odd numbers are', odd_c)
print("Odd numbers:", [num for num in r_no if num % 2 != 0])
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True
print("Prime Numbers:", [num for num in r_no if is_prime(num)])
for num in r_no:
    if(is_prime(num)):
        prime_c=prime_c+1
print('Total prime numbers are',prime_c)

[680, 804, 248, 560, 133, 476, 582, 194, 626, 772, 875, 466, 473, 819, 364, 341, 880, 689, 389, 757, 291, 133, 627, 158, 791, 230, 360, 595, 603, 166, 619, 612, 243, 817, 376, 686, 807, 463, 629, 234, 289, 195, 753, 558, 355, 664, 704, 250, 765, 638, 404, 630, 266, 410, 793, 473, 804, 590, 154, 445, 819, 169, 128, 396, 127, 261, 623, 822, 225, 112, 318, 818, 177, 767, 814, 587, 399, 655, 518, 247, 164, 108, 257, 169, 455, 866, 573, 531, 656, 791, 611, 240, 160, 449, 862, 449, 379, 501, 542, 816]
Total even numbers are 49
Even numbers: [680, 804, 248, 560, 476, 582, 194, 626, 772, 466, 364, 880, 158, 230, 360, 166, 612, 376, 686, 234, 558, 664, 704, 250, 638, 404, 630, 266, 410, 804, 590, 154, 128, 396, 822, 112, 318, 818, 814, 518, 164, 108, 866, 656, 240, 160, 862, 542, 816]
Total odd numbers are 51
Odd numbers: [133, 875, 473, 819, 341, 689, 389, 757, 291, 133, 627, 791, 595, 603, 619, 243, 817, 807, 463, 629, 289, 195, 753, 355, 765, 793, 473, 445, 819, 169, 127, 261, 623, 225, 177, 767, 587, 399, 655, 247, 257, 169, 455, 573, 531, 791, 611, 449, 449, 379, 501]
Prime Numbers: [389, 757, 619, 463, 127, 587, 257, 449, 449, 379]
Total prime numbers are 10

In [49]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
print("Union:", A | B)
print("Intersection:", A & B)
print("Symmetric Difference:", A ^ B)
print("A is subset of B:", A.issubset(B))
print("B is superset of A:", B.issuperset(A))
X = int(input("Enter a score to remove from A: "))
if X in A:
    A.remove(X)
    print("Updated A:", A)
else:
    print("Score not present in A")

Union: {34, 45, 78, 23, 56, 90}
Intersection: {90, 78}
Symmetric Difference: {34, 45, 23, 56}
A is subset of B: False
B is superset of A: False

Enter a score to remove from A:  34

Updated A: {56, 90, 78}

In [53]:
dict={
    "name":"Kelly",
    "age":25,
    "Salary":8000,
    "city":"New York"
}
dict["location"]=dict.pop("city")
print(dict)

{'name': 'Kelly', 'age': 25, 'Salary': 8000, 'location': 'New York'}