WAP to print your name three times

In [1]:
for i in range(3):
    print('rohini bansal')

rohini bansal
rohini bansal
rohini bansal

 WAP to add three numbers and print the result.

In [7]:
a=2
b=3
c=4
print(a,'+',b,'+',c,'=',a+b+c)

2 + 3 + 4 = 9

WAP to concatinate three strings and print the result.

In [13]:
a='myself'
b='rohini'
c='bansal'
print(a,'+',b,'+',c,'=',a+' '+b+' '+c)

myself + rohini + bansal = myself rohini bansal

 WAP to print the table of 7, 9.

In [17]:
x=7
for i in range(1,11):
    print(x,'*',i,'=',x*i)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [19]:
x=9
for i in range(1,11):
    print(x,'*',i,'=',x*i)

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [21]:
x=int(input('enter a number:'))
for i in range(1,11):
    print(x,'*',i,'=',x*i)

enter a number: 6

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

WAP to add all the numbers from 1 to n and n is given by user

In [7]:
sum=0
n=int(input('Enter a number:'))
for i in range(1,n+1):
    sum+=i
print(sum)

Enter a number: 5

15

 WAP to find max amoung three numbers and input from user. [Try max() function]

In [12]:
a=int(input('enter a number:'))
b=int(input('enter a number:'))
c=int(input('enter a number:'))
if(a>max(b,c)):
    print(a,'is greater')
else:
    print(max(b,c),'is greater')

enter a number: 2
enter a number: 3
enter a number: 4

4 is greater

WAP to add all numbers divisible by 7 and 9 from 1 to n and n is given by the user.

In [17]:
sum=0
a=int(input('enter a number:'))
for i in range(1,a):
    if(i%63==0):
       sum+=i
print(sum)

enter a number: 127

189

WAP to add all prime numbers from 1 to n and n is given by the user.

In [37]:
sum=0
n=int(input('Enter a number:'))
for i in range(2,n+1):
    is_prime=True
    for j in range(2,int(i**0.5)+1):
        if(i%j==0):
            is_prime=False
            break
    if(is_prime==True):
        sum+=i
print(sum)

Enter a number: 10

17

WAP using function that add all odd numbers from 1 to n, n is given by the user.

In [40]:
def odd_sum(n):
    sum=0
    for i in range(1,n+1):
        if(i%2!=0):
            sum+=i
    return sum
n=int(input('enter a number:'))
print('sum of odd numbers from 1 to',n,'is',odd_sum(n))

enter a number: 10

sum of odd numbers from 1 to 10 is 25

WAP using function that add all prime numbers from 1 to n, n given by the user.

In [43]:
def prime_sum(n):
    sum=0
    for i in range(2,n+1):
        is_prime=True
        for j in range(2,int(i**0.5)+1):
            if(i%j==0):
                is_prime=False
                break
        if(is_prime==True):
            sum+=i
    print(sum)
n=int(input('Enter a number:'))   
prime_sum(n)

Enter a number: 10

17